venv/
/SurfCaster/admin/__pycache__
/SurfCaster/authorisedUser/__pycache__
/SurfCaster/reviewer/__pycache__
/SurfCaster/unauthorisedUser/__pycache__
/SurfCaster/auth/__pycache__
/SurfCaster/node_modules