@use 'color';

.account-container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 150px);

    .top-container {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        top: -15vh;

        .account-img-container {

            z-index: -1;

        }

        .username-container {

            display: block;
            background-color: color.$backgroundbox;
            z-index: 1;
            position: relative;
            top: -40px;
            border-radius: 5px;
            max-width: 350px;
            overflow-wrap: break-word;
            text-align: center;
            
            h2 {

                padding: 5px;

            }

        }

    }

    .bottom-container {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        bottom: 0;

        .join-role {

            position: relative;
            top: -100px;
            text-align: center;
            color: color.$tertiary-text;


            p {

                margin: 10px;
                font-size: 16pt;

            }

        }

        .logout-button {

            padding: 10px;
            background-color: color.$btn-color;
            border-radius: 5px;
            position: relative;

            a {

                color: color.$primary-color;
                font-size: 14pt;

            }

        }

    }

}