@use 'color';
.login-wrapper{
    width: 100vw;
    height: calc(100vh - 150px);
    display: grid;
    align-items: center;
    justify-content: center;
    color:color.$tertiary-text;
    text-decoration: none;
    .auth-logo-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .login-container {
        display: flex;
    
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .input-fields{
    input{
        margin: 10px;
        height: 20pt;
        width: 200px;
    }
    display: grid;
} 
    }

.links{
    font-weight: 50px;
    text-align: center;
    a{color:color.$primary-text;}
    padding: 10px;
    }
.auth-logo{
    max-width: 100px;
    position: static;
}

.signup-wrapper
{
    width: 100vw;
    height: calc(100vh - 150px);
    display: grid;
    align-items: center;
    justify-content: center;
    color:color.$tertiary-text;
    text-decoration: none;
    .PWstrength{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 7px;
    }
    .signup-text{
        text-align: center; 
    }
    .auth-logo-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .signup-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .strength-icon{
        margin-left: 20px;
    }
 
    .input-fields{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        input{
            margin: 10px;
            height: 20pt;
            max-width: 300px;
        }
    }
    .toc{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 10pt;
        .checkbox{
            margin: 0 10px 0 0;
        }
    }
    .sub-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button{
            width:60px;
        margin-top: 20px;
        }
    }
} 

.recover-wrapper{
    width: 100vw;
    height: calc(100vh - 150px);
    display: grid;
    align-items: center;
    justify-content: center;
    color:color.$tertiary-text;
    text-decoration: none;
    .auth-logo-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .recover-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    }
.input-fields{
    #email{
        align-self: center;
        justify-self: center;
    }
    input{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        margin: 10px;
        height: 20pt;
        width: 300px;
    }
    display: grid;
}
.login-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}