$primary-color: #fec358;
$secondary-color: #3f3f3f;
$accent-color: #fec358;
 
$background-color: #1f1f27;
$btn-color: #3e4046;
 
$primary-text: #fec358;
$secondary-text: #000000;
$tertiary-text: #ffffff;
 
$backgroundbox: #f0e9e9;
$backgroundbox2: #33353b;
 
$drop-shadow: #00000075;
$news-header: #fec358;
$news-content: #3f3f3f;
 
$yay: #008000;
$nay: #ff0000;
