$primary-color: #fec358;
$secondary-color: #3f3f3f;
$accent-color: #fec358;

$background-color: #222227;
$btn-color: #3f3f3f;

$primary-text: #fec358;
$secondary-text: #000000;
$tertiary-text: #ffffff;

$backgroundbox: #f0e9e9;
$backgroundbox2: #33353b;