@use "color";

.dashboard-wrapper {
    display: grid;
    grid-template-columns: 30vw 10vw auto;
    width: 100%;
}

.dash-left-wrapper {
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 150px);
    width: 100%;

}

.dash-left {
    display: grid;
    grid-template-columns: repeat(3, calc(25vw / 3));
    gap: 20px;
    margin-top: 50px;
    width: 100%;
    margin-left: 15px;
}

.dash-right-wrapper {
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 150px);
    width: 100%;
    pointer-events: none;
}

.dash-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    color: color.$tertiary-text;
}

.btn {
    width: 150px;
    height: 150px;
    margin: 7px;

    background-color: color.$btn-color;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.btn-dash {
    a {
        color: color.$primary-text;
    }
    a:hover {
        color: white;
    }
}