@use "color";

.dashboard-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.dash-left-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 150px);

}

.dash-left {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
    width: 25vw;
    margin-left: 10%;
}

.dash-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75vw;
}

.btn {
    width: 150px;
    height: 150px;
    margin: 7px;

    background-color: color.$btn-color;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    

}

.btn-dash {
    a {
        color: color.$primary-text;
    }
    a:hover {
        color: white;
    }
}