@use "color";

.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;

    a {
        color: color.$tertiary-text;
        text-decoration: none;
    }

}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

    img {
        width: 75px;
        height: 75px;
        margin-right: 10px;
    }

    h1 {
        font-size: 40pt;
        color: color.$tertiary-text;
    }
}

.page-name {
    h2 {
        color: color.$tertiary-text;
    }
}

