@use "color";

.header-grid {
    display: grid;
    height: 100px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;

    box-shadow: 4px 4px 5px color.$drop-shadow;

    a {
        color: color.$tertiary-text;
    }

    .header-left {
        display: flex;
        grid-column: 1;
        grid-row: 1;
        justify-content: center;
        align-items: center;
        
        position: relative;
        top: -8px;
    }

    .header-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-column: 2;
        grid-row: 1;
        position: relative;
        top: -10px;

        scale: (0.8);
    }

    .header-right {
        display: flex;
        grid-column: 3;
        grid-row: 1;
        justify-content: center;
        align-items: center;
        
        position: relative;
        top: -8px;

        .setttings, .account {
            padding: 10px;
        }

    }

}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

    img {
        width: 75px;
        height: 75px;
        margin-right: 10px;
    }

    h1 {
        font-size: 40pt;
        color: color.$tertiary-text;
    }

}

.header-dash {

        position: relative;
        top: 12px;

    }

.phishing-detector {
    color: color.$tertiary-text;
}
.page-name {
    h2 {
        color: color.$tertiary-text;
    }

    .dash {
        color: color.$background-color;
        pointer-events: none;
        cursor: default;
    }
}

