@use 'color';

.scan-history-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding: 20px;

    .scan-history {

        width: 1000px;
        padding: 20px;
        border-radius: 8px;

    }

    .scan-history-table {
        width: 100%;
        background-color: color.$backgroundbox2;
        border-collapse: collapse;
        /* border: 1px solid color.$secondary-color; */

        .table-header {
            th {
                padding: 10px;
                border: 1px solid color.$secondary-color;
                text-align: center;
                color: color.$primary-color;
                vertical-align: middle;
            }

        }

        .table-body {
            td {
                padding: 10px;
                border: 1px solid color.$secondary-color;
                text-align: center;
                color: color.$tertiary-text;
                vertical-align: middle;

                form {
                    display: flex;
                    gap: 10px;
                    justify-content: center;
                }

                button {
                    all: unset;
                    color: color.$primary-color;
                    background-color: transparent;
                }

                button:hover.yay {
                    color: color.$yay;
                    cursor: pointer;
                }

                button:hover.nay {
                    color: color.$nay;
                    cursor: pointer;
                }
            }
        }
    }
}