@use 'color';
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3{
        text-align: center;
        margin: 10px
    }
    .content-wrapper{
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        background-color: #FFFFFF;
        width: auto;
        border: 2px solid rgb(71, 69, 69);
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); ;
       
    }
    .mod-user{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .user-table{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
        
    table{
        table-layout: fixed;
        width: 500px;
        background-color: black;
    }
    thead 
    {
        background-color: #FFFFFF;
        
        color: black;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }
    tbody
    {
        background-color: #FFFFFF;
        color: black;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        text-align: center;
    }
}
}
 
   


