* {
    margin: 0;
    padding: 0;
    box-sizing: 0;

    /* temp */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.header img {
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

.header h1 {
    font-size: 40pt;
}

.page-name h2 {
    font-size: 20pt;
}

.dash-buttons {
    display: flex;
    margin-top: 50px;

    max-width: 100px;
    max-height: 100px;
}

.btn {
    width: 200px;
    height: 50px;
    margin: 20px;

    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-dash a {
    text-decoration: none;
    color: black;
}

.btn-dash a:hover {
    color: white;
}