<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>Document</title>
</head>

<body>

    {% set page_name = "Account" %}

    {% include 'header.html' %}

    <div class="account-wrapper">
        <div class="profile-background">
            <!-- temp content for the account page -->
            <img src="{{ url_for('static', filename='images/SurfCaster_Logo_32.png') }}" alt="SurfCaster Logo">
            <h1>Username</h1>


        </div>
        <div class="content-background">
            <h2>You have been a member since:date</h2>
            <h2> you have scanned X URL's</h2>



        </div>
        <button class="logout-button"><a href="{{ url_for('auth_routes.logout') }}">Logout</a></button>
    </div>
</body>

</html>