<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>Document</title>
</head>

<div class = "change-password-popup">
    <div class="change-password-content" >

        <h2 class="change-password-title">Change Password</h2>
        <form action="{{ url_for('auth_routes.change_password') }}"  class = "change-password-form" method="POST" action="POST">
            <input class="change-password-input" type="password" id="current-password" name="current_password"
                placeholder="Current Password" required>
            <input class="change-password-input" type="password" id="new-password" name="new_password"
                placeholder="New Password" required>
            <input class="change-password-input" type="password" id="confirm_password"
                name="confirm_password" placeholder="Confirm New Password" required>
            <div class="change-password-buttons">
                <button type="submit">Submit</button>
            </div>
        <div class="change-password-buttons">
            <button onclick="closeChangePasswordPopup();" type="button" id="closeChangePasswordbtn">Cancel</button>
        </div>
    </div>
</div>