<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
        <title>Document</title>
    </head>
    <body>

        <div class="content">
            <!-- temp content for the database management page -->
            <h2>Recover password</h2>
            <p>Please enter the email associated with your account</p>
            <input type ="text" name="Email" placeholder="Email" required>
            <p>Please complete the captcha</p>
            <p> &#9744;</p>
            <button>Recover password</button>
            
        </div>

    </body>
</html>