<div class="header-grid">
    <div class="header-center">
        <div class="header {% if page_name == 'dashboard' %} header-dash {% endif %}">
            <img src="{{ url_for('static', filename='images/SurfCaster_Logo_256.png') }}" alt="SurfCaster Logo"
                class="logo">
            <h1>SurfCaster</h1>
        </div>
        <div class="page-name">
            


            {% if page_name != 'dashboard' %}
                <h2>{{ page_name }}</h2>
            {% else %}
                <h2 class="dash">‎ </h2>
                <!-- The IDE is yelling at me cause this is invisible. I know it is. That's the point... -->
            {% endif %}


            <!-- figure out how to display the current page title -->
        </div>
    </div>
    <div class="header-left">
        <div class="home">
            <a href="{{ url_for(session.get('role') + '_routes.home') }}">Home</a>
        </div>
    </div>
    <div class="header-right">
        <div class="settings">
            <a href="{{ url_for(session.get('role') + '_routes.settings') }}">Settings</a>
        </div>
        <div class="account">
            <a href="{{ url_for(session.get('role') + '_routes.account') }}">{{ session.get('username') }}</a>
        </div>
    </div>
</div>