<!-- temp user type logic for testing -->
<!-- delete when actual logic implemented-->
{% set access = "admin" %}

<div class="header-grid">
    <div class="header-center">
        <div class="header">
            <img src="{{ url_for('static', filename='images/SurfCaster_Logo_256.png') }}" alt="SurfCaster Logo"
                class="logo">
            <h1>SurfCaster</h1>
            
        </div>
        <h2 class="phishing-detector">Phishing Detector</h2>
        <div class="page-name">
            <h2>{{ page_name }}</h2>
            <!-- figure out how to display the current page title -->
        </div>
    </div>
    </div>
</div>