<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
        <title>Document</title>
    </head>
    <body>
<div class="recover-wrapper">
    <div class ="auth-logo-wrapper">
    <img class ="auth-logo" src="{{ url_for('static', filename='images/SurfCaster_Logo_256.png') }}">
    <h1>SurfCaster</h1>
    <h2>Phishing Detector</h2>
    </div>
    <div class= "recover-container">
        <h3>Account recovery</h3>
    <!--<form> action="/login" method="POST"-->
        <div class ="input-fields">
        <h4>Please enter your email address to recover your account</h4>
        <input type ="text" id="email" name="email" placeholder="email" required>
        
        </div>
        <div>
            <label>
                <input type ="checkbox">
            </label>
            <button>submit</button>
        </div>
        <!--/form-->
        <div class="links">
            <a href="{{ url_for('auth_routes.recover') }}">Reset password</a>
            <a href="{{ url_for('auth_routes.signup') }}">Signup</a>
        </div>
    </div>
    </div>

    </body>
</html>