<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>Document</title>
</head>

<body>
    {% include 'login-header.html' %}
    <div class="auth-wrapper">
        <div class="auth-container">

            <h3 class="reset-password-title">Reset password</h3>
            <p class="new-password">Please enter a new password</p>
            <div class=" input-fields">
                <form method="POST" action="{{ url_for('auth_routes.reset_pw') }}">
                    <div class="input-field">
                        <input class="auth-input" type="password" id="reset-password" name="password"
                            placeholder="reset password" required>
                        <button class="show" type="button"
                            onclick="togglePasswordVisibility('reset-password')">⊙</button>
                    </div>
                    <div class="password-field">
                        <input class="auth-input" type="password" id="password-conf" name="confirm_password"
                            placeholder="confirm password" required>
                        <button class="show" type="button"
                            onclick="togglePasswordVisibility('password-conf')">⊙</button>
                    </div>
                    <div class="submit-btn">
                        <label class="checkbox-label">
                            <input class="reset-checkbox" type="checkbox" required>
                            This is my account
                        </label>
                        <button class="auth-button" type="submit">submit</button>

                    </div>
                </form>
            </div>

            <script>
                function togglePasswordVisibility(fieldId) {
                    const field = document.getElementById(fieldId);

                    if (field.type === "password") {
                        field.type = "text";
                    } else {
                        field.type = "password";
                    }
                }
            </script>

        </div>
    </div>

</body>

</html>