<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>Document</title>
</head>

<body>

    {% set page_name = "Review queue " %}

    {% include 'header.html' %}

    <div class="scan-history-wrapper">
        <div class="scan-history">
            <div class="scan-history-table">
                <table class="scan-history-table">
                    <thead class="table-header">
                        <tr>
                            <th>SCANID</th>
                            <th>USERNAME</th>
                            <th>URL</th>
                            <th>PREDICTION</th>
                            <th>FLAG</th>
                            <th>SUBMISSION</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        {% for scan_id, review in reviews.items() %}
                        <tr>
                            <td>{{ review.scan_id }}</td>
                            <td>{{ review.username }}</td>
                            <td>{{ review.url }}</td>
                            <td>{{ review.flag }}</td>
                            <td>{{ review.status }}</td>
                            <td>
                                <form method="POST" action="{{ url_for(session.get('role') + '_routes.review_scan') }}">
                                    <input type="hidden" name="scan_id" value="{{ review.scan_id }}">
                                    <input type="hidden" name="url" value="{{ review.url }}">
                                    <input type="hidden" name="flag" value="{{ review.status }}">
                                    <button class="yay" type="submit" name="action" value="approve">Approve</button>
                                    <button class="nay" type="submit" name="action" value="reject">Reject</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>

</body>

</html>