<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>Document</title>
</head>

<body>

    {% set page_name = "Scan History" %}

    {% include 'header.html' %}

    <div class="scan-history-wrapper">
        <div class="scan-history">
            <div class="scan-history-table">
                <table class="scan-history-table">
                    <thead class="table-header">
                        <tr>
                            <th>Scan ID</th>
                            <th>URL</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        <tr>
                            <td>scan.id</td>
                            <td>scan.url</td>
                            <td>scan.date</td>
                            <td>scan.status</td>
                        </tr>
                    
                    </tbody>
                </table>
        </div>

    </div>

</body>

</html>