<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
        <title>Document</title>
    </head>
    <body>

        {% include 'header.html' %}

        <div class="content">
            <!-- temp content for the URL Scanner page -->
            <h2>URL Scanner</h2>
            <p>This is the URL scanner page.</p>
        </div>

    </body>
</html>