<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>Document</title>
</head>

<body>

    {% set page_name = "URL Scanner" %}

    {% include 'header.html' %}

    <div class="scan-content">
        <!-- temp content for the URL Scanner page -->
        <div class="scan-wrapper">
            <form>
                <input class="scan" type="text"  placeholder="Enter URL to scan">
                <button id="scan-button">Scan</button>
            </form>
            <div class="scan-res-wrapper">
                <div class="scan-results">
                    <h2>Scan results for ...</h2>
                    <p>likely malicious. 92.84%</p>
                </div>
            </div>
        </div>

    </div>


</body>

</html>