<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>Document</title>
</head>

<body>

    {% set page_name = "Settings" %}

    {% include 'header.html' %}
    {% include "delete_account_popup.html" %}
    {% include "change-password-popup.html" %}

    <div class="content">
        <div class="settings-wrapper">
            <div class="user-settings settings-section">
                <h1>User Settings</h1>
                <hr>
                <div class="change-password">
                    <h2 class = "change-password-text" onclick="openChangePasswordPopup()">Change Password &#11166;</h2>
                    <!-- &#11167; ⮟ js to change them? -->
                </div>
                <div class="profile-settings">
                    <h2>Profile Settings &#11166;</h2>
                </div>
                <div class="privacy-settings">
                    <h2>Privacy Settings &#11166;</h2>
                </div>
                <h2 class = "delete-account-text" href="#" onclick ="openDeleteAccountPopup(); return false;" >Delete Account &#11166;</h2>
               
            </div>

            <div class="application-settings settings-section">
                <h1>Application Settings</h1>
                <hr>
                <div class="connections">
                    <h2>Connections &#11166;</h2>
                </div>
                <div class="preferences">
                    <h2>Preferences &#11166;</h2>
                </div>
                <div class="permissions">
                    <h2>Permissions &#11166;</h2>
                </div>
            </div>
        </div>
    </div>
    


<script src="{{ url_for('static', filename='js/popup.js') }}"></script>
    


</body>

</html>