<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>Document</title>
</head>
</head>
<div class="auth-header">
</div>
<body>
    {% include 'login-header.html' %}
<div class="signup-wrapper">
    <div class="signup-container">
        <h3 class="signup-text">Sign up</h3>
        <form method="POST" action="/signup">
            <div class="input-fields">
                <input class="auth-input" type="text" id="username" name="username" placeholder="Username" required>
                <input class="auth-input" type="text" id="email" name="email" placeholder="Email" required>
                <input class="auth-input" type="password" id="password" name="password" minlength="8" placeholder="Password" required>
            </div>
            <div class=PWstrength>
                <h4>Password strength</h4>
                <h4 class="strength-icon">&#128994;</h4>
            </div>
            <div class="toc">
                <input class="checkbox" type="checkbox" id="terms" name="terms" required>
                <label for="terms">I agree to the Terms and Conditions</label>
            </div>

            <div class="bottom-container">
                <div class="links">
                    <a  class ="login-link" href="{{ url_for('auth_routes.login') }}">&#8592; Go back</a>
                </div>
                <div class="sub-btn">
                    <button type="submit">Sign Up</button>
                </div>
        </form>
        <!--/form-->

    </div>
</div>
</div>
</body>
