<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>Document</title>
</head>
</head>
<div class="auth-header">
</div>

<body>
    {% include 'login-header.html' %}
    <div class="auth-wrapper">
        <div class="auth-container">
            <h3 class="signup-text">Sign up</h3>
            <form method="POST" action="/signup">
                <div class="input-fields">
                    <input class="auth-input" type="text" id="username" name="username" placeholder="Username" required>
                    <input class="auth-input" type="text" id="email" name="email" placeholder="Email" required>
                    <input class="auth-input" type="password" id="password" name="password" minlength="8"
                        placeholder="Password" required>
                </div>
            
                <div class="tandc">
                    <input class="checkbox" type="checkbox" id="terms" name="terms" required>
                    <a href='#' onclick="openTerms(); return false;">
                        Terms and conditions
                    </a>
                </div>

                    
                    <div class="submit-btn">
                        <button type="submit" class="auth-button">Sign Up</button>
                    </div>
                    <div class="signup-link">
                        <a class="login-link" href="{{ url_for('auth_routes.login') }}">&#8592; Login</a>
                    </div>
            </form>
            <!--/form-->


        </div>
    </div>
    <div class="terms-popup" onclick="closeTerms()">
        <div class="terms-popup-content" onclick="event.stopPropagation()">
            <div class="terms-header">
                <h2>SurfCaster Terms and Conditions</h2>
            </div>
            <h4 class = "terms-title"> By using this application you agree to the following terms and conditions</h4>


            <ul class="terms-list">
                <li>You will use this application ethically and not misuse the application for any intended misspurpose
                </li>
                <li>All information will be processed on your system to a database</li>
                <li>We are not liable for any malicious links you click into despite our applications results.</li>
            </ul>

            <p class="terms-notice"> These Terms and conditions are subject to change at any point in time.</p>
            <button onclick="closeTerms()">Close</button>
        </div>
    </div>
    
    <script>
        function openTerms() {
            document.querySelector('.terms-popup').style.display = 'flex';
        }

        function closeTerms() {
            document.querySelector('.terms-popup').style.display = 'none';
        }
    </script>
</body>