<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>Document</title>

</head>
<body>
<div class="auth-header">
</div>
<div class="login-wrapper">
    <div class="auth-logo-wrapper">
        <img class="auth-logo" src="{{ url_for('static', filename='images/SurfCaster_Logo_256.png') }}">
        <h1>SurfCaster</h1>
        <h2>Phishing Detector</h2>
    </div>
    
   <script>
    setTimeout(() => {
        window.location.href ="{{login_url}}";
    },3500);
   </script>
</body>

</html>