<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
        <title>Document</title>
    </head>
    <body>

        {% set page_name = "Support" %}

        {% include 'header.html' %}

        <div class="content">
            <!-- temp content for the support page -->
            <h2>Support</h2>
            <p>This is the support page.</p>
        </div>

    </body>
</html>