<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>Document</title>
</head>

<body>

    {% set page_name = "Support" %}

    {% include 'header.html' %}

    <div class="support-wrapper">
        <div class="support-container">
            <h1>Submit your support ticket</h1>
            <div class="form-container">
               
                <form class="ticket-forms">
                     <h2> Subject</h2>
                    <textarea type="text" maxlength="150" id="subject" name="subject" placeholder="Subject of your ticket max length :150" required></textarea>
                    <h2>Description</h2>
                    <textarea type="text" maxlength="4000" id="description" name="description" placeholder="Description of your ticket" requird></textarea>
                    <button class="submit-ticket">Submit</button>
                </form>
                
            </div>
        </div>

    </div>

</body>

</html>